{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-light" style="background: mediumpurple;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="am.png" alt="" width="30" height="24" class="d-inline-block align-top">
      AM Pizza
    </a>
    <a class="nav-link" href="userorders" style="color:bisque">My Orders</a>
      <a class="btn btn-danger" href="userlogout">Logout</a>
  </div>
</nav>


<h1 style="text-align: center; color: bisque; margin: 16px;">Welcome {{username}} to AM Pizza</h1>

<!--<table style="width:70%; width:70%;color: coral;background: antiquewhite;display: block;margin: auto;margin-top: 67px;">-->
<!--    <tr>-->
<!--        <th>Pizza</th>-->
<!--        <th>Price</th>-->
<!--    </tr>-->
<!--    {% for pizza in pizzas %}-->
<!--    <tr>-->
<!--        <td>{{pizza.name}}</td>-->
<!--        <td>{{pizza.price}}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 40%;display: block;margin: auto;padding-block: 5px;padding-bottom: 10px;background-color: palegreen">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<form method="post" action="placedorder">
  {% csrf_token %}
<div class="container" style="margin-top: 53px;">
    <table class="table" style="background:coral">
  <thead class="thead-dark" style="color: floralwhite;font-size: 24px;">
    <tr>
      <th scope="col">Pizza Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
    {% for pizza in pizzas %}
  <tbody>
    <tr style="color: rebeccapurple;font-size: 22px;">
      <td>{{pizza.name}}</td>
      <td>{{pizza.price}}</td>
      <td><input type="number"  min="0" value="0" name="{{pizza.id}}" style="width:60px"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    <input type="text" name="address" placeholder="Address" style="width: 800px;margin-top: 4px;height: 34px;">
  <input type="submit" style="float:right;" class="btn btn-outline-success" value="Order" >
</div>
</form>




{% endblock %}