{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Image and text -->
<nav class="navbar navbar-light" style="background: mediumpurple;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="static/img/am.png" alt="" width="30" height="24" class="d-inline-block align-top">AM Pizza</a>
      <a class="btn btn-danger" href="#">Login</a>
  </div>
</nav>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 40%;display: block;margin: auto;padding-block: 5px;padding-top: 10px;">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}



<div class="container" style="background-color: orange;margin: auto;margin-top: 211px;width: 341px;display: block;padding: 15px;font-size: 20px;">

  <form method="post" action="authenticateuser" >
    <h1 style="text-align:center;">Log in</h1>
        {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="InputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="InputPassword1">
  </div>
  <button type="submit" style="color: lavenderblush; background: mediumpurple; display:block; margin:auto">Login </button>
</form>
</div>




{% endblock %}